[Desktop Entry]
Categories=Ocr;
Comment=Deepin ocr
#Exec=/usr/bin/deepin-ocr %F
GenericName=OCR Tool
Icon=deepin-ocr
Name=Deepin Ocr
Type=Application
NoDisplay=true
X-Deepin-ManualID=deepin-ocr
X-Deepin-Vendor=deepin
X-Deepin-TurboType=dtkwidget

# Translations:
# Do not manually modify!
Comment[zh_CN]=图文识别工具
Comment[zh_HK]=圖文識別工具
Comment[zh_TW]=圖文識別工具
GenericName[zh_CN]=图文识别工具
GenericName[zh_HK]=圖文識別工具
GenericName[zh_TW]=圖文識別工具

Name[zh_CN]=图文识别工具
Name[zh_HK]=Deepin 圖文識別工具
Name[zh_TW]=Deepin 圖文識別工具
